<!DOCTYPE html>
<html lang="en" ng-app="website">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="js/angular.js"></script>
</head>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

            </div>
            <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active"><a href="partials/home.html" title="Home">Home</a></li>
                            <li class="has-sub"><a href="partials/service.html" title="Service List">Service List</a>
                                <ul>
                                    <li><a href="partials/service.html" title="Service 1">Service 1</a>
                                        <ul>
                                            <li><a href="sub-service 1"> Sub Service 1.1 </a></li>
                                            <li><a href="sub-service 2"> Sub Service 1.2 </a></li>
                                            <li><a href="sub-service 3"> Sub Service 1.3 </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="partials/service-detail.html" title="Service Detail">Service 2</a>
                                        <ul>
                                            <li><a href="sub-service 1"> Sub Service 2.1</a></li>
                                            <li><a href="sub-service 1"> Sub Service 2.2</a></li>
                                            <li><a href="sub-service 1"> Sub Service 2.3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="partials/blog-default.html" title="Blog ">News</a>
                                <ul>
                                    <li><a href="partials/blog-default.html" title="Blog">Blog Default</a></li>
                                    <li><a href="partials/blog-single.html" title="Blog Single ">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="#" title="Features">Features</a>
                                <ul>
                                    <li><a href="partials/testimonial.html" title="Service List">Testimonial</a></li>
                                    <li><a href="partials/styleguide.html" title="Service Detail">Style Guide</a></li>
                                </ul>
                            </li>
                            <li><a href="contact" title="Contact Us">Contact</a> </li>
                            <li><a href="partials/styleguide.html" title="Styleguide">styleguide</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>