<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oxygeneo</title>
</head>
<body>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="post-block">
            <div class="row ">
                <!-- post block -->
                <div class="col-md-6">
                    <div class="post-img">
                        <img src="images/facial1.jpg" alt="Facial">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-content" ng-init="Facials=['Neobright','Neorevive']">
                        <h2>Facials</h2>

                        <div ng-repeat="x in Facials"><br/>
                            <a href="#/{{x}}" class="btn btn-default">{{x}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.post block -->
        </div>
    </div>
</body>
</html>